@import url("https://fonts.googleapis.com/css2?family=Mona+Sans:ital,wght@0,200..900;1,200..900&display=swap");
@import "tailwindcss";


html,
body {
  width: 100dvw;
  overflow-x: hidden;
  background-color: black;
  color: var(--color-main);
  scroll-behavior: smooth;
  font-family: "Mona Sans", sans-serif;
}

.main-text {
  background: rgba(0, 0, 0, .3);
}

@theme {
  --color-main: #668a93;
  --color-main-light: #90dff3;
  --color-main-bg: #61585e;
  --color-main-bgText: #efe9e4;


}


.navWrapper {
  ul {

    li {
      @apply relative overflow-hidden;

      .underline {
        @apply absolute bottom-0 left-[50%] w-0 h-0.5 duration-200 ease-in-out;

      }
      &:hover
        {
          .main-item_text {
            @apply text-main-light duration-200 ease-in-out;


          }
          .underline{
            @apply bg-main-light left-0 w-full;
          }

        }
    }
  }
}

.downAnimation {

    animation: myAnimation 2s ease-in infinite ;

    &:nth-child(2) {
      animation-delay: calc(2s/3);
    }

    &:nth-child(3) {
      animation-delay: calc((2s/3)*2);
    }



}
@keyframes myAnimation {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.myProjectsWrapper {
  .projectCard  {
    .projectCard-wrapper {
      @apply overflow-hidden z-30 duration-200 ease-in-out;

      transform-style: preserve-3d;



      .projectCard-wrapper_bg {
          @apply absolute top-0 w-full z-40 h-0 bg-main-bg duration-200 ease-in-out opacity-55
        }

      &:hover {
        /*transform: rotateX(15deg) rotateY(15deg) ;*/
        /*scale: 1.05;*/
        @apply text-main-light rotate-x-[15deg] rotate-y-[15deg] scale-115 ;

        .projectCard-wrapper_bg {
          @apply h-full text-main-bgText
        }

      }
    }

  }


}