@import url("https://fonts.googleapis.com/css2?family=Mona+Sans:ital,wght@0,200..900;1,200..900&display=swap");
@import "tailwindcss";

@tailwind base;
@tailwind components;
@tailwind utilities;



html,
body {
  width: 100dvw;
  overflow-x: hidden;
  background-color: black;
  color: var(--color-main);
  scroll-behavior: smooth;
  font-family: "Mona Sans", sans-serif;
}

.main-text {
  background: rgba(0, 0, 0, .3);
}

@theme {
  /*--color-main: #668a93;*/
  --color-main: #90dff3;
  /*--color-main-light: #90dff3;*/
  --color-main-light: #eef5f7;
  --color-portfolio-bg: #514747;
  --color-portfolio-bgText: #efe9e4;
  --color-skills-bg: #091518;
  --color-contacts-bg: #101016;
  --color-input-bg: #58586d;
}

@utility myTranslateY-* {
  transform: translateY(var(--myTranslateY));
}

.nav {
  @apply fixed flex justify-center items-center top-0 w-full z-20 py-10 bg-black;

  &.not-Scrolled {
    @apply  bg-transparent;

  }

  &.scrolled {
    @apply top-0 ;

  }

  .navWrapper {
    @apply  w-4/6 mx-auto ;

    ul {
      @apply flex md:flex-row flex-col justify-between items-end;

      li {
        @apply relative overflow-hidden md:mt-0 mt-2;

        .underline {
          @apply absolute bottom-0 left-[50%] w-0 h-0.5 duration-200 ease-in-out;

        }
        &:hover
        {
          .main-item_text {
            @apply text-main-light duration-200 ease-in-out;

          }
          .underline{
            @apply bg-main-light left-0 w-full;

          }

        }
      }
    }
  }
}

.mainWrapper {
  @apply w-full h-svh;

  .modelWrapper {
    @apply w-full h-svh absolute z-1;
  }

  .main-textWrapper {
    @apply w-full h-svh absolute z-10;

    .main-text {
      @apply flex flex-col justify-center h-svh  z-10;

      .main-text_name {
        @apply flex justify-center lg:text-8xl md:text-6xl text-4xl font-thin text-center;

      }
      .main-text_describe {
        @apply lg:mt-10 mt-4 flex justify-center font-thin tracking-[1.6dvw] text-center;
      }
    }

  }
}

.downAnimation {

    animation: myAnimation 2s ease-in infinite ;

    &:nth-child(2) {
      animation-delay: calc(2s/3);
    }

    &:nth-child(3) {
      animation-delay: calc((2s/3)*2);
    }
}

@keyframes myAnimation {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.myProjectsWrapper {
  .projectCard  {
    .projectCard-wrapper {
      @apply overflow-hidden z-30 duration-200 ease-in-out;

      transform-style: preserve-3d;


      .projectCard-wrapper_backside {
          @apply absolute top-0 w-full z-40 h-full bg-portfolio-bg rotate-y-[180deg] duration-400 ease-in-out   rounded-lg backface-hidden;
        }

      .projectCard-wrapper_frontside {
        @apply   duration-400 ease-in-out backface-hidden;
      }

      &:hover {

        @apply text-main-light;

        .projectCard-wrapper_backside {
          @apply  rotate-y-[360deg] text-portfolio-bgText w-4/5 ;
        }

        .projectCard-wrapper_frontside {
          @apply rotate-y-[180deg]  ;
        }

      }
    }
  }
}

.timelineGradient {
  width: 10px;
  background: linear-gradient(
          0deg,
          rgba(69, 222, 196, 0) 0%,
          #62e0ff 25%,
          #52aeff 37.51%,
          #fd5c79 62.83%,
          #6d45ce 92.91%
  );
}